<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h3>Localisation status report for <a href="http://<%= ENV['CANONICAL_HOST'] %>"><%= ENV['CANONICAL_HOST'] %></a></h3>
  <table>
    <thead>
      <tr>
        <th style="text-align: left; padding: 0 20px;">Language</th>
        <th style="text-align: left; padding: 0 20px;">Needing translation</th>
        <th style="text-align: left; padding: 0 20px;">Needing review</th>
      </tr>
    </thead>
    <tbody>
      <% @languages.each_with_index do |language, i| %>
        <%
          needing_translation = language.localized_texts.select { |t| t.needs_entry? }.length
        %>
        <tr style="background-color: <%= (i % 2) == 0 ? '#eee' : 'transparent' %>">
        <td style="text-align: left; padding: 4px 20px;"><%= language.name %></td>
        <td style="font-family: monospace; text-align: left; padding: 4px 20px; white-space: pre;"><%= colourize_translation_status(language.localized_texts, needing_translation) %></td>
        <td style="font-family: monospace; text-align: left; padding: 4px 20px; white-space: pre;"><%= colourize_translation_status(language.localized_texts, language.localized_texts.select { |t| t.needs_review? }.length) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>