= form_for(@master_text, html: {class: 'master_text', role: 'form'}) do |f|
  - if @master_text.errors.any?
    .errors
      %strong
        = pluralize(@master_text.errors.count, "error")
      prohibited this master_text from being saved:
      %ul
        - @master_text.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :key
    = f.text_field :key, class: 'form-control'
    .checkbox
      %label
        = f.check_box :pluralizable
        Has plural forms

  - if @master_text.pluralizable
    .form-group
      = f.label :one
      = f.text_area :one, class: 'form-control'
    .form-group
      = f.label :many
      = f.text_area :many, class: 'form-control'

  - else
    .form-group
      = f.label :text
      = f.text_area :text, class: 'form-control'

  .form-group
    = f.label :comment
    = f.text_area :comment, class: 'form-control'

  = f.submit "Save", class: 'btn btn-default btn-primary'
  = link_to 'Cancel', :back, class: 'btn btn-link'
