%table.table.table-striped
  %thead
    %tr
      %th Language
      %th Localized Text
      %th Needs review
  %tbody
    - localized_texts.includes(:language).each do |localized_text|
      %tr[localized_text]
        %td
          %p= localized_text.language
        %td
          - if localized_text.pluralizable
            = localized_text.other
          - else
            = localized_text.text
          = link_to language_texts_path(localized_text.language, anchor: "localized_text_#{localized_text.id}") do
            [ Edit ]

        %td
          .checkbox
            %label
              - if localized_text.needs_review
                .badge needs review
