%h1 Listing master_texts
%table
  %thead
    %tr
      %th Key
      %th Text
      %th Comment
      %th
      %th
      %th
  %tbody
    - @master_texts.each do |master_text|
      %tr
        %td= master_text.key
        %td= master_text.text
        %td= master_text.comment
        %td= link_to 'Edit', edit_master_text_path(master_text)
        %td= link_to 'Delete', master_text, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Master text', new_master_text_path
