= render "projects/tabs", project: @master_text.project
%p#notice= notice
%p.key
  %strong Key:
  = render partial: 'key', locals: {master_text: @master_text}

- if @master_text.pluralizable
  .plurals
    %p
      %strong Text
      %small.badge S:
      = @master_text.one
    %p
      %strong Text
      %small.badge PL:
      = @master_text.other
- else
  %p
    %strong Text:
  %blockquote
    = simple_format(@master_text.text)

- unless @master_text.comment.blank?
  %p
    %strong Comment:
    = @master_text.comment

= render :partial => 'localized_texts_table', locals: {localized_texts: @master_text.localized_texts.includes(:views)}

= link_to 'Edit', edit_master_text_path(@master_text), class: "btn btn-primary"

= link_to 'Back', project_master_texts_path(@master_text.project_id, anchor: dom_id(@master_text)), class: "btn btn-link"
