= form_for(@language, html: {class: 'language', role: 'form'})do |f|
  = render partial: '_common/form_errors', locals: {instance: @language}

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    .row
      .col-xs-2
        = f.label :code
        = f.text_field :code, class: 'form-control'

  %h3
    Plural form labels
    %small.text-muted
      leave blank if language doesn't have this plural form)
  %p
    You may need to look at
    = link_to nil, 'https://www.unicode.org/cldr/cldr-aux/charts/29/supplemental/language_plural_rules.html'
    -# TODO: use i18n data to automatically assign these.
    for reference
  .form-group
    .row
      - Language::PLURAL_FORMS_WITH_FIELDS.each do |plural_form, field|
        .col-xs-2
          = f.label field, plural_form.to_s.titleize
          = f.text_field field, class: 'form-control'



  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Cancel', :back, class: 'btn btn-link'

