%h1 Listing languages

.list-group
  .list-group-item.row.hidden-xs
    .col-sm-2 Language
    - if current_user.is_administrator
      .col-sm-8
        Projects & translators

  - @languages.each do |language|
    .list-group-item.row
      .col-sm-2.clearfix
        .label.label-info= language.code
        %span.together= language.name
      - if current_user.is_administrator
        .col-sm-8
          .list-group
            - language.users.uniq.each do |user|
              = link_to edit_user_path(user), class: 'list-group-item clearfix' do
                %span.together= user.email
                %span.together.pull-right
                  - user.project_languages.includes(:project).where(language_id: language.id).each do |project_language|
                    .label.label-primary= project_language.project.name
        .col-sm-2
          = link_to 'Edit settings', edit_language_path(language), class: 'btn btn-default'
          -#= link_to 'Delete language', language, :method => :delete, :data => { :confirm => 'Are you sure?' },
          -#class: 'btn btn-warning'

%br

= link_to 'New Language', new_language_path, class: 'btn btn-primary'
