%h1 Listing languages

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Code
      %th Translations
      - if current_user.is_administrator
        %th Translators
        %th
  %tbody
    - @languages.each do |language|
      %tr
        %td= language.name
        %td= language.code
        %td
          = link_to 'To enter', entry_language_texts_path(language), class: 'btn btn-default'
          = link_to 'To review', review_language_texts_path(language), class: 'btn btn-default'
          = link_to 'All', language_texts_path(language), class: 'btn btn-default'
        - if current_user.is_administrator
          %td
            - language.users.each do |user|
              %small= link_to user.email, edit_user_path(user)
          %td
            = link_to 'Edit language', edit_language_path(language), class: 'btn btn-default'
            -#= link_to 'Delete language', language, :method => :delete, :data => { :confirm => 'Are you sure?' },
            -#class: 'btn btn-warning'

%br

= link_to 'New Language', new_language_path, class: 'btn btn-primary'
