= simple_form_for(@user, html: { class: 'form user' },
    wrapper: :vertical_form,
    wrapper_mappings:{check_boxes: :horizontal_radio_and_checkboxes}) do |f|
  = render partial: '_common/form_errors', locals: {instance: @user}

  = f.input :email
  = f.input :is_administrator, label: 'Admin'
  = f.input :is_developer, label: 'Dev'
  = f.input :edits_master_text, label: 'Masters (English)'

  = f.association :project_languages.to_s,   as: :check_boxes

  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Cancel', :back, class: 'btn btn-link'

