= simple_form_for(@user, html: { class: 'form-horizontal user form' }) do |f|
  = render partial: '_common/form_errors', locals: {instance: @user}

  = f.input :email
  = f.input :is_administrator, label: 'Admin'
  = f.input :is_developer, label: 'Dev'
  = f.input :edits_master_text, label: 'Masters (English)'

  - pls = ProjectLanguage.includes(:language, :project).order('languages.name asc, projects.name asc').all
  - pls.group_by{|pl| pl.language }.each do |lang, group|
    %fieldset.project-languages
      %div
        .label.label-info= lang
      - group.each do |pl|
        = f.collection_check_boxes(:project_language_ids, [pl], :id, :to_s, input_wrapper: nil) do |b|
          .bordered-checkbox
            = b.label(class: 'checkbox-inline') { b.check_box + b.object.project.name }


  = f.submit 'Save', class: 'btn btn-primary'
  = link_to 'Cancel', :back, class: 'btn btn-link'

