.list-group
  .row.list-group-item
    .col-sm-3 User
    .col-sm-9 Roles / Languages
  - @users.each do |user|
    = link_to edit_user_path(user), class: 'row list-group-item', id: dom_id(user) do
      .col-sm-3
        = user.email
      .col-sm-9
        .btn.btn-default.pull-right
          Edit
        - if user.is_administrator?
          .label.label-default Admin
        - if user.send_administrator_emails?
          .label.label-default Admin emails
        - if user.is_developer?
          .label.label-danger
            %small.language Dev
        - if user.edits_master_text?
          .label.label-info
            %small.language English
        - user.project_languages.includes(:language, :project).order('languages.name asc, projects.name asc').group_by{|pl| pl.language }.each do |lang, pls|
          %div
            .label.label-info= lang
            - pls.each do |project_language|
              .label.label-primary
                %small.language #{project_language.project.name}
.buttons.well
  = link_to "Add", new_user_path, class: 'btn btn-primary'
  %p.text-muted
    After you add a user you need to email them, asking them to create a password as if they had "forgotten" their
    password.
    You can send them the reset passord url:
    %strong= new_user_password_url
