%ul.nav.nav-tabs.localized-texts
  %li.title
    %a= @project_language
  %li{class: @active_tab == :entry ? 'active':''}= link_to "To enter", entry_project_language_texts_path(@project_language)
  %li{class: @active_tab == :review ? 'active':''}= link_to "For review", review_project_language_texts_path(@project_language)
  %li{class: @active_tab == :all ? 'active':''}= link_to "All", project_language_texts_path(@project_language)
  %li{class: @active_tab == :view ? 'active':''}
    = link_to project_language_views_path(@project_language) do
      = icon('list-alt')
      Views
