= render partial: 'tabs'

.container
  %h4
    = @project_language.project.name
    Project
    = surround "(", ")" do
      = @project_language.language.name

  .row
    .entry.col-md-3
      - if @project_language.need_entry_count > 0
        = link_to entry_project_language_texts_path(@project_language), class: 'btn btn-danger col-md-12' do
          = "#{@project_language.need_entry_count} to enter"
      - else
        .btn.text-muted.col-md-12
          = icon('check')
          No outstanding entries
    .review.col-md-3
      - if @project_language.need_review_count > 0
        = link_to review_project_language_texts_path(@project_language), class: 'btn btn-warning col-md-12' do
          = "#{@project_language.need_review_count} to review"
      - else
        .btn.text-muted.col-md-12
          = icon('check')
          No outstanding reviews
    .col-md-3
      - if @project_language.need_entry_count > 0 || @project_language.need_review_count > 0
        = link_to next_project_language_path(@project_language), class: 'btn btn-success col-md-12' do
          = "Start"
