= render partial: 'tabs'

.panel.panel-primary
  .panel-heading
    %h3.panel-title.clearfix
      = link_to "'#{@project_language.project.name}'", project_path(@project_language.project)
      Project
  - if @project_language.project.description.present?
    .panel-body
      = simple_format(@project_language.project.description)

  .list-group
    = render partial: 'project_languages/list_group_item', locals: {project_language: @project_language,
      label: @project_language, with_description: false}


