= render :partial => 'languages/language_tabs'


- projects.each do |project|
  %br
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        = project.name
        Project

    .panel-body
      .buttons.pull-right
        = link_to language_texts_path(@language), class: 'btn btn-primary' do
          Browse all #{@language} localizations

    .list-group
      - project.views.each do |view|
        = link_to language_view_path(@language, view), class: "list-group-item clearfix view" do
          .text-primary
            %i.fa.fa-list-alt
            = view.name
          %small.comments= view.comments

