= render :partial => 'languages/language_tabs'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Comments
      %th

  %tbody
    - views.each do |view|
      %tr
        %td
          = icon('list-alt')
          = link_to language_view_path(@language, view) do
            = view.name

        %td= view.comments
