= render :partial => 'project_languages/tabs'

%h2
  = icon('list-alt')
  = @view.name
%p= render "views/comments", view: @view

= render :partial => 'localized_texts/localized_texts_table', locals: {localized_texts: @localized_texts.includes(:views)}
