= simple_form_for(@view, html: { class: 'form view' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :comments

    .well
      %em Add in keys separated by a paragraph return
      = f.input :keys, as: :text, input_html: {rows: 10}, help_text: 'flong'

  = f.hidden_field :project_id

  .form-actions
    = f.button :submit
