= render "projects/tabs", project: @project

.list-group
  - @views.each do |view|
    .list-group-item.clearfix.view
      = link_to view, class: "btn btn-link" do
        .text-primary
          %i.fa.fa-list-alt
          = view.name
      %small.comments= render "views/comments", view: view
  - if current_user.is_developer?
    .list-group-item.clearfix
      = link_to 'New View', new_project_view_path(project_id: @project.id), class: 'btn btn-default pull-right'
