!!!
%html
  %head
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{ 'http-equiv'=>"X-UA-Compatible", content:"IE=edge"}


    %title LofiLions
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{src:"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{src:"https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"}


    = csrf_meta_tags
  %body
    #wrap
      - if user_signed_in?
        = render partial: 'layouts/navbar'
      - else
        = render partial: 'layouts/navbar_signed_out'

      .container
        - flash.each do |style, f|
          - style = case style; when 'alert'; 'warning' ; when 'notice' ; 'info' ; else style; end
          .alert{class: "alert-#{style}"}
            = f
        = yield


    - if user_signed_in?
      #footer
        .container
          %p.text-muted
            Powered by
            = link_to 'Lofi-LIONs', "https://github.com/red56/lofi-lions"
            = version_details