!!!
%html
  %head
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %meta{ 'http-equiv'=>"X-UA-Compatible", content:"IE=edge"}

    %link{rel: "icon", href: favicon, sizes: "any"}
    %link{rel: "icon", href: favicon(".svg"), type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: favicon("-180.png")}
    -# TODO: serve at /favicon.ico and /apple-touch-icon.png
    -# TODO: manifest.webmanifest
    -# https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs

    %title LofiLions
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    #wrap
      - if user_signed_in?
        = render partial: 'layouts/navbar'
      - else
        = render partial: 'layouts/navbar_signed_out'

      .container
        - flash.each do |style, f|
          - style = case style; when 'alert'; 'warning' ; when 'notice' ; 'info' ; else style; end
          .alert{class: "alert-#{style}"}
            = f
        = yield


    - if user_signed_in?
      #footer
        .container
          %p.text-muted
            Powered by
            = link_to 'Lofi-LIONs', "https://github.com/red56/lofi-lions"
            = version_details
