= render :partial => 'project_languages/tabs'
%br
.well
  .views.pull-right
    - @localized_text.views.each do |view|
      = link_to project_language_view_path(@project_language, view), class: 'pull-right' do
        %small
          = icon('list-alt')
          = view.name
  .clearfix
    %p
      %label.label.label-default= @localized_text.master_text.key
    %p
      %i= @localized_text.master_text_comment



= simple_form_for(@localized_text)  do |f|

  - if @localized_text.translated_from && @localized_text.needs_review?
    .row
      .col-md-6
        .form-group.translated_from
          %label
            Originally translated from
          .form-control-static= simple_format(@localized_text.translated_from)

  .row
    .col-md-6
      .form-group
        %label English
        = text_area_tag 'original',  @localized_text.original_other, class: 'form-control', disabled: true, rows: 5
    .col-md-6
      .form-group
        = f.label :other, @project_language.language.name
        - if @localized_text.needs_entry?
          .label.label-danger
            Needs translation
        - elsif @localized_text.needs_review?
          .label.label-warning
            Needs review
            - if @localized_text.translated_at
              since translation at
              = @localized_text.translated_at.to_s(:short)
        - if @localized_text.needs_review?
          - @localized_text.needs_review = false
          .pull-right
            %label
              = f.check_box :needs_review
              Still needs review
        - else
          .pull-right
            %label
              = f.check_box :needs_review
              Needs review
        = f.text_area :other, class: 'form-control', rows: 5
        - if @original_url
          %input{type: "hidden", name: "original_url", value: @original_url}

  .form-group
    = f.label :comment, class: 'text-muted' do
      = icon('comment')
      Translation Notes or Queries
      %small (Not part of the translation -- just notes to save on this page)
    = f.text_area :comment, class: 'form-control', rows: 3

  - if @localized_text.markdown?
    %br
    %label.lable Formatted:
    .row
      .col-md-6#original_formatted
        .well
      .col-md-6#preview
        .well
        -#.btn.btn-info#preview-button Preview
    :javascript
      function preview(){
        $('#preview .well').html(markdown.toHTML($("#localized_text_other").val()));
      };
      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      $('#localized_text_other').keyup(function() {
          delay(function(){
            preview();
          }, 400 );
      });
      //$("#preview-button").click(function(){ preview(); });
      $(function(){
        $('#original_formatted .well').html(markdown.toHTML($("#original").val()));
        preview();
      });

  .row
    .col-md-6
      - if @original_url
        = link_to 'Cancel', :back, class: 'btn btn-link pull-left'
      - elsif @project_language.localized_texts.needs_review_or_entry.count > 1
        = link_to 'Skip', next_project_language_path(@project_language, key: @localized_text.key),  class: 'btn btn-default pull-left'
    .col-md-6
      = link_to "Google translate", @localized_text.google_translate_url, class: 'btn btn-link'
      = f.submit "Save", class: 'btn btn-primary pull-right'



